<a href="https://colab.research.google.com/github/fonsmarta/Curso-QSAR/blob/main/Module1_2_2_Pandas_and_plots.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Machine learning methods for drug discovery and toxicology
# Module 1.2.2: Pandas and Data Visualization

In this module, we will learn how to use the Pandas python package to work with dataframes and we will do some data visualization exercises.

# Preliminary: Preparation of the environment

**Important: Remember to save a copy of this file to be able to edit it and save your changes.**

Before proceeding with the exercises, we need to set up the notebook to have access to the packages and modules needed. However in this case, no additional packages will be needed as we will only work with some Python basic functions.


Also, we are going to mount the google drive unit, where the course files are, so you can access it through this course.

In [ ]:
#@title
import os

## Modify with the right path to the folder where all the files are going to be stored and uncomment the next line
# if you upload your file directly, decomment next line:
PATH = "/content/"

# elif you use GoogleDrive, decomment next lines:
# from google.colab import drive
# drive.mount('/content/drive')
# PATH = "/content/drive/your_folder/"

#Part 1: Exercises to practice with Pandas

## Import Pandas and Matplotlib

For this notebook we will be using two python libraries:


*   Pandas: for dataframe handling
*   Matplotlib: for data visualization

In [ ]:
#@title IMPORT LIBRARIES

import pandas as pd

import matplotlib.pyplot as plt

# the next line is used to display the plots directly in the jupyter notebook
%matplotlib inline

## Section 1. Data Input and Output with Pandas: Reading and Saving DataFrames

The most important role of the Pandas library is the capacity to read and save dataframes.

Using the google collab sample datasets, which are localized in the folder "sample_data", you will practice to read and save data in different formats.

In [ ]:
#@title Read example

PATH_sample = PATH + "sample_data/"

# read the "california_housing_train.csv" file
df = pd.read_csv(PATH_sample + "california_housing_train.csv", sep=',')

df.head()

In [ ]:
#@title Save example

# save the dataset outside of the "sample_data" folder

file_name = "california_housing_train.csv"

df.to_csv(PATH + file_name)

print("Dataframe saved as ", file_name)

Now read the original dataframe but indicate that the separator is ";". What does the dataframe look like? Do you see the importance of a correctly indicated separator when dealing with csv files?

In [ ]:
#@title Read csv exercise

# WRITE YOUR CODE HERE

Now read california_housing_test dataframe in the "sample_data" folder and  save it outside of the folder as a txt file separated by tabulations (\t).

In [ ]:
#@title Read and save exercise

# WRITE YOUR CODE HERE

Now save the california_housing_test dataframe as an excel file. Remember to exclude the index by indicating `index=False` when calling the function. This will avoid the accumulation of index columns throughout the data processing.

In [ ]:
#@title Save dataframe exercise

# WRITE YOUR CODE HERE

You will be working with the "california_housing_test.csv" file located in the "sample_data" folder. Use `df.shape` to check how many rows and columns it
has, and get the list of column names.

In [ ]:
#@title Dataframe shape and columns exercise

# WRITE YOUR CODE HERE

Print the last 10 rows of the dataset, using the `tail` method.

In [ ]:
#@title Dataframe tail exercise

# WRITE YOUR CODE HERE

Now use `df['housing_median_age'].value_counts()` to count the occurrences of unique values in the categorical column.

In [ ]:
#@title Value_counts exercise

# WRITE YOUR CODE HERE

##Section 3. Data Manipulation with Pandas: Creating, Transforming, and Combining DataFrames

You will continue working with the df you read in the previous task.

First,  add a new column that contains the average number of rooms per houshold in each block:

In [ ]:
#@title Add new column example

df["rooms_per_household"] = df["total_rooms"] / df["households"]

df.head()

Calculate the population per household and save it in a column called "population_per_household".

In [ ]:
#@title Add new column exercise

# WRITE YOUR CODE HERE

You can use the groupby function in pandas to group your data based on one or more columns and perform operations within those groups. Here's an example of how to use groupby to calculate the average median house value for each housing median age group:

In [ ]:
#@title Groupby example

# Group the data by 'housing_median_age' and calculate the average 'median_house_value' for each group
age_groups = df.groupby('housing_median_age')['median_house_value'].mean().reset_index()

# Print the resulting DataFrame with average median house values per housing median age group
print(age_groups)

Here we used the groupby function to group the data by the 'housing_median_age' column. After grouping, we calculated the average 'median_house_value' for each group using the `mean()` function. Finally, we use `reset_index()` to reset the index of the resulting DataFrame for better readability.

This gave us a new DataFrame with two columns: 'housing_median_age' and 'median_house_value'.


Next, group the data by the 'median_income' column and calculate the average 'rooms_per_household' for each income group:

In [ ]:
#@title Groupby exercise

# WRITE YOUR CODE HERE

# Group the data by 'median_income' and calculate the average 'rooms_per_household' for each group


# Print the resulting DataFrame with average rooms per household per housing median income

Now we sill use the df.loc and df.iloc to select specific rows in the dataset:

In [ ]:
#@title iloc and loc examples

# we select the rows 0 to 4 and the columns 0 to 2
selected_data = df.iloc[:5,:3]

print("selected_data DataFrame: ")
print(selected_data)

# we select those rows where the value of the column 'median_income' is bigger than 6.0
selected_income = df.loc[df['median_income']>6.0]

print("selected_income DataFrame: ")
print(selected_income)

Now select the rows where the 'rooms_per_household' is bigger than 5 and select only the latitude and longitude columns.

In [ ]:
#@title loc exercise

# WRITE YOUR CODE HERE

# Select rows where 'rooms_per_household' is greater than 5


# Select only the 'latitude' and 'longitude' columns from the selected rows


# Print the resulting DataFrame

Here we extract a specific column ('median_house_value') as a Series and calculate the mean and standard deviation:

In [ ]:
#@title Series example

# Get the series from median_house_value column
median_house_value_series = df['median_house_value']

# Calculate the mean and standard deviation
mean_house_value = median_house_value_series.mean()
std_house_value = median_house_value_series.std()

# Print the results
print("Mean house value: ", mean_house_value)
print("Standard Deviation house value: ", mean_house_value)

Extract each column from the two-column dataset created in the previous exercise and print the maximum and minimum value for each:

In [ ]:
#@title Series exercise

# WRITE YOUR CODE HERE

# Get the series from latitude column

# Get the series from longitude column

# Calculate the min and max of each series




# Print the results

Now we split 'df' into two DataFrames: one called 'new_houses' containing rows where 'house_median_age' is less or equal to 5 and another called 'old_houses' containing ows where 'house_median_age' is greater than 50. Then we join them in a new dataset called 'house_age_extremes':

In [ ]:
#@title Concat example

# Split the data into two DataFrames: 'new_houses' and 'old_houses'
new_houses = df[df['housing_median_age'] <= 5]
old_houses = df[df['housing_median_age'] > 50]

# Use pd.concat to join the two DataFrames into a new DataFrame 'house_age_extremes'
house_age_extremes = pd.concat([new_houses, old_houses])

# Print the resulting DataFrame 'house_age_extremes'
print(house_age_extremes)

Take the house_age_extremes DataFrame and split it into two DataFrames: one called 'high_income' containing rows where 'median_income' is greater than or equal to 6.0, and another called 'low_income' containing rows where 'median_income' is less than 2.0.

In [ ]:
#@title Concat exercise

# WRITE YOUR CODE HERE

# Split the data into two DataFrames: 'high_income' and 'low_income'


# Use pd.concat to join the two DataFrames into a new DataFrame 'income_extremes'


# Print the resulting DataFrame 'income_extremes'

Now let's say you want to calculate the total bedrooms per household for each row in the dataset. You can use the apply function to apply a custom function for each row:

In [ ]:
#@title Apply example

# Define a custom function to calculate total bedrooms per household for a row
def calculate_total_bedrooms_per_household(row):
    return row['total_bedrooms'] / row['households']

# Use apply to apply the custom function to each row and create a new column
df['avg_total_bedrooms_per_household'] = df.apply(calculate_total_bedrooms_per_household, axis=1)

# Print the DataFrame with the new column
print(df[['total_bedrooms', 'households', 'avg_total_bedrooms_per_household']])

Building on our previous example of applying an external function using apply, let's explore the power of using apply with lambda functions. Lambda functions are a concise way to create small, one-time functions on the fly. In this example, we'll use a lambda function within the apply method to calculate a new column, the 'income_to_age_ratio,' by dividing 'median_income' by 'housing_median_age' for each row in our dataset. This illustrates how we can apply dynamic transformations efficiently to our data using the combined strength of apply and lambda functions.

In [ ]:
#@title Apply and lambda example

# Use apply with a lambda function to calculate the ratio of 'median_income' to 'housing_median_age'
df['income_to_age_ratio'] = df.apply(lambda row: row['median_income'] / row['housing_median_age'], axis=1)

# Print the DataFrame with the new column
print(df[['median_income', 'housing_median_age', 'income_to_age_ratio']])

Calculate the 'price_per_room' for each row in the California Housing dataset by dividing 'median_house_value' by 'total_rooms' using a lambda function with apply. Create a new column called 'price_per_room' to store the results.

In [ ]:
#@title Apply and lambda exercise

# WRITE YOUR CODE HERE

# Use apply with a lambda function to calculate 'price_per_room'


# Print the DataFrame with the new 'price_per_room' column

Using `apply` and a `lambda` function we can also create a new column called 'income_category' in the dataset that classifies each row as 'Low Income' if 'median_income' is less than 3.0, 'Moderate Income' if it's between 3.0 and 6.0, and 'High Income' otherwise.

In [ ]:
#@title Apply and lambda to classify example

# Use apply with a lambda function to create 'income_category'
df['income_category'] = df['median_income'].apply(lambda income: 'Low Income' if income < 3.0 else ('Moderate Income' if 3.0 <= income < 6.0 else 'High Income'))

# Print the DataFrame with the new 'income_category' column
print(df[['median_income', 'income_category']])

Use `apply` with a `lambda` function to create a new column called 'population_density_category' in the dataset. Classify each row as 'Low Density' if 'population_per_household' is less than 2.0, 'Moderate Density' if it's between 2.0 and 4.0, and 'High Density' otherwise.

In [ ]:
#@title Apply and lambda to classify exercise

# WRITE YOUR CODE HERE

# Use apply with a lambda function to create 'population_density_category'

# Print the DataFrame with the new 'population_density_category' column

Now let's imagine you have an external dataset with income information data. You can use `merge` to add that new information to the dataset:

In [ ]:
#@title Merge example

# Create a sample 'income_info' DataFrame with income category information
income_info_data = {'income_category': ['Low Income', 'Moderate Income', 'High Income'],
                    'income_description': ['Less than $30,000', '$30,000 - $60,000', 'More than $60,000']}
income_info = pd.DataFrame(income_info_data)

# Merge your California housing dataset with the 'income_info' DataFrame based on the common 'income_category' column
merged_data = pd.merge(df, income_info, on='income_category')

# Print the resulting merged DataFrame
print(merged_data)

Given the following additional dataset, merge it with your original dataset:

In [ ]:
#@title  DataFrame to merge example

population_density_info_data = {'population_density_category': ['Low Density', 'Moderate Density', 'High Density'],
                                'density_description': ['Sparsely populated', 'Moderately populated', 'Densely populated'],
                                'average_household_size': [2.5, 3.0, 3.5],
                                'average_income': [50000, 60000, 70000]}

population_density_info = pd.DataFrame(population_density_info_data)

In [ ]:
#@title Merge exercise

# WRITE YOUR CODE HERE

#Part 2: Visualizing Data with Matplotlib

##Section 1. Matplotlib introduction: overview

Matplotlib is a powerful Python library used for creating static, animated, and interactive visualizations in various formats. It is particularly well-suited for data visualization tasks, making it an essential tool for data analysis.

Matplotlib provides a wide range of functions to create different types of plots. The simplest way to create a basic plot is by using the plt.plot() function. Here's an example:

In [ ]:
#@title Simple plot with matplotlib

# Sample data
x = [1, 2, 3, 4, 5]
y = [10, 16, 8, 14, 7]

# Create a line plot
plt.plot(x, y)

# Add labels and a title
plt.xlabel('X-axis')
plt.ylabel('Y-axis')
plt.title('Simple Line Plot')


Matplotlib supports various types of plots, including:



*   **Line Plot**: Used to visualize data points connected by lines, as shown in the example above.
*   **Scatter Plot**: Useful for displaying individual data points, often used for visualizing relationships between two variables.
*   **Bar Plot**: Great for comparing data across categories or displaying categorical data.
*   **Histogram**: Used to visualize the distribution of a single variable.
*   **Box Plot**: Ideal for displaying the distribution, variability, and outliers of a dataset.
*   **Pie Chart**: Good for displaying parts of a whole, where each category represents a portion of the total.
*   **Heatmap**: Effective for displaying the correlation or intensity of data in a matrix form.
*   **3D Plotting**: Matplotlib also supports 3D visualization for more complex data.


Matplotlib allows for extensive customization of the plots. You can change colors, line styles, add legends, annotations, and much more. Feel free to explore the documentation and examples to discover the full range of customization options.

Remember that Matplotlib is just one of many data visualization libraries available in Python, and depending on your requirements, you may explore other libraries like Seaborn, Plotly, or Bokeh for more advanced and interactive visualizations.

However, to keep it simple, in this Jupyter notebook we will focus on the representation of data using bar and scatter plots, as these are the ones we will use in the process of creating a QSAR model.

##Section 2. Barplots: How to represent classification data

First, we will read the california housing train and test datasets, and we will add a classification column to them:

In [ ]:
#@title Read train and test sample data and make classification column

df_train = pd.read_csv(PATH_sample + "california_housing_train.csv", sep=",")
print(df_train.head())

df_test = pd.read_csv(PATH_sample + "california_housing_test.csv", sep=",")
print(df_test.head())

# define a function to create the classification column
def classify_value(value):
  threshold = 200000
  if value >= threshold:
    return "High Value"
  else:
    return "Low Value"

df_train["value_category"] = df_train['median_house_value'].apply(classify_value)
print(df_train.head())

df_test["value_category"] = df_test['median_house_value'].apply(classify_value)
print(df_test.head())

Now we use the value_counts to calculate the counts of "High Value" and "Low Value" samples separately for both the train and test sets.

We then create a stacked barplot using Matplotlib, where "Train" and "Test" represent the datasets, and within each bar, you'll see the stacked segments for "High Value" (green) and "Low Value" (red) samples.

In [ ]:
#@title Create stacked barplot example

# Calculate counts of "High Value" and "Low Value" samples in both train and test sets
train_value_counts = df_train['value_category'].value_counts()
test_value_counts = df_test['value_category'].value_counts()

# Create a stacked barplot
categories = ['Train', 'Test']
high_value_counts = [train_value_counts['High Value'], test_value_counts['High Value']]
low_value_counts = [train_value_counts['Low Value'], test_value_counts['Low Value']]

# Plot each individual series
plt.bar(categories, high_value_counts, label='High Value', color='green')
plt.bar(categories, low_value_counts, bottom=high_value_counts, label='Low Value', color='red')

# Add labels, title, and legend
plt.xlabel('Dataset')
plt.ylabel('Number of Samples')
plt.title('Distribution of "High Value" and "Low Value" Samples in Train and Test Sets')
plt.legend()

Now, make a stacked barplot from the 3-category classification of the income we create in the following code cell:

In [ ]:
#@title Creating new example classification column

# Use apply with a lambda function to create 'income_category'
df_train['income_category'] = df_train['median_income'].apply(lambda income: 'Low Income' if income < 3.0 else ('Moderate Income' if 3.0 <= income < 6.0 else 'High Income'))
print(df_train.head())

df_test['income_category'] = df_test['median_income'].apply(lambda income: 'Low Income' if income < 3.0 else ('Moderate Income' if 3.0 <= income < 6.0 else 'High Income'))
print(df_test.head())

In [ ]:
#@title Represent "income_category" in a stacked barplot

# WRITE YOUR CODE HERE



# Calculate counts of "High Value" and "Low Value" samples in both train and test sets



# Create a stacked barplot



# Calculate the bottom parameter for the "Low Income" bars
# Note: when giving the barplot a bottom value, take into account that it must
# represent any categories that have been already represented
# (maybe you'll have to sum these values).




# Plot each individual series




# Add labels, title, and legend

##Section 3. Scatter plots: How to represent regression data

Now, let's create a scatter plot using the longitude and latitude columns in the train dataset:

In [ ]:
#@title Scatter plot example

# Create a scatter plot
plt.figure(figsize=(10, 6))  # Set the figure size (adjust as needed)
plt.scatter(df_train['longitude'], df_train['latitude'], c='blue', s=5)  # Customize the color and point size

# Add labels and a title
plt.xlabel('Longitude')
plt.ylabel('Latitude')
plt.title('Scatter Plot of Longitude vs. Latitude')

plt.grid(True)

If you superposed this scatterplot to a California map, it would match pretty well, don't you think?

Now, create a new scatter plot where the x axis is the Longitude and the y axis is the latitude, and represent the train set samples in blue and the test set samples in red:

In [ ]:
#@title Scatter plot exercise

# WRITE YOUR CODE HERE

# Create a scatter plot

# Note: remember how we built the stacked barplot as if they were two different
# barplots? You can do the same with the scatter plot :)

# Add labels and a title

In [ ]:
#@title Creating the 'predicted_values' column

# As we are not using any real machine learning model in this notebook
# we will input some random numbers in our predicted column
# however, we want the random numbers to be around the mean of our
# "median_house_value" column values

import numpy as np

# Calculate the mean of "median_house_value"
mean_value = df_test["median_house_value"].mean()

# Generate random numbers around the median
np.random.seed(42)  # Setting a seed for reproducibility
std_deviation = 500000
random_values = np.random.normal(loc=mean_value, scale=std_deviation, size=len(df))

# Create the "predicted_value" column
df_test['predicted_value'] = random_values

print(df_test.head())

We will use the median_house_value" column as the values we observed, and the "predicted_value" column as the predicted values. With these columns, we will create a scatter plot.

To make it easier to see how different the observed and predicted values are, we will draw a line of equality. This line is a diagonal line that shows when the two variables have the same value. The vertical and horizontal distance from the line represents the absolute difference between the groups. The diagonal distance represents half of that difference. The further the points are from the line, the greater the difference between the variables.

In [ ]:
#@title Scatter plot for OBS vs PRED example

# Create a scatter plot
plt.figure(figsize=(8, 8))  # Set the figure size (adjust as needed)
plt.scatter(df_test['median_house_value'], df_test['predicted_value'], c='blue', s=60)

# Add a line of equality (diagonal line)
plt.plot([df_test['median_house_value'].min(), df_test['median_house_value'].max()],
         [df_test['median_house_value'].min(), df_test['median_house_value'].max()],
         linestyle='--', color='red', linewidth=2, label='Line of Equality')

# Add labels and a title
plt.xlabel('Observed Values (median_house_value)')
plt.ylabel('Predicted Values (predicted_value)')
plt.title('Scatter Plot of Observed vs. Predicted Values')

# Add a legend
plt.legend()

# Add grid lines for reference
plt.grid(True)

Throughout this section, we have explored various data visualization techniques, using them to demonstrate how data can be effectively represented. As you progress through the course, you will encounter real-world applications of data visualization in data curation and the analysis of QSAR model performance. These examples will showcase how data visualization becomes an indispensable tool for gaining insights, making informed decisions, and enhancing the overall understanding of data across various scenarios.